.barcon {
	margin: 0 auto;
	text-align: center;
}


.barcon2 {
	float: left;
}

.barcon2 ul {
	margin: 20px 0;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.barcon2 li {
  display: inline;
    line-height: 46px;
    box-sizing: border-box;
}

.barcon2 li:first-child{
    width: 74px;
}
.barcon2 li:nth-child(2){
    width: 99px;
}
.barcon2 li:nth-child(3){
    width: 99px;
}
.barcon2 li:n

.barcon2 a {
  margin: 0 3px;
}

.jumpWhere {
  width: 50px;
  padding: 5px;
}
