#header-wrap {
  padding: 10px 0;
  height: 100px;
  width: 100%;
  padding-left: 120px;
  box-sizing: border-box;
}
#header-wrap #header {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#header-wrap #header * {
  flex: 0 0 auto;
}
#header-wrap #header #logo {
  height: 100%;
}
#header-wrap #header #logout_tip {
  margin-right: 40px;
}
#header-wrap #header #logout_tip #out-icon {
  width: 16px;
  height: 16px;
  padding: 4px;
  box-sizing: content-box;
}
#header-wrap #header .text-needed {
  color: #053863;
  font-weight: 600;
}

#navigation {
  background: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#navigation header, #navigation main {
  background: #edf0f5;
}
#navigation header {
  line-height: 38px;
  box-sizing: border-box;
  text-align: center;
  padding: 4px;
  margin-bottom: 4px;
}
#navigation header span:not(:empty)::before {
  content: ">";
}
#navigation header span:not(:empty):first-child::before {
  content: "";
}
#navigation header #end {
  color: #575757;
  font-weight: bold;
}
#navigation header #category, #navigation header #part {
  color: #575757;
}
#navigation main {
  padding: 10px 40px;
  min-height: 750px;
  background-image: url("../../img/nav-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
#navigation main > ul {
  padding-left: 0;
  color: #555;
  list-style-type: none;
}
#navigation main > ul .category {
  border-bottom: 1px solid #575757;
}
#navigation main > ul .category:last-child {
  border-bottom: none;
}
#navigation main > ul > li {
  color: #111;
  padding: 5px 0;
}
#navigation main > ul > li .category-name {
  color: #575757;
  font-size: 1.2rem;
}
#navigation main > ul > li ul {
  padding: 0;
  list-style: none;
}
#navigation main > ul > li ul li {
  line-height: 30px;
  padding-left: 24px;
  margin-left: 24px;
  margin-right: -32px;
}
#navigation main > ul > li ul li a, #navigation main > ul > li ul li a:visited {
  font-size: 1rem;
  color: #111;
  text-decoration: none;
  font-weight: 600;
}
#navigation main > ul > li ul > li:hover {
  background: #b9ddf5;
}
#navigation main > ul .icon {
  width: 24px;
  height: 24px;
  margin-top: -4px;
}

.nav {
  background: #ffffff;
  padding: 10px 24px;
  padding-bottom: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #eee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav-tabs {
  border-bottom: 2px solid #079fc9;
}

.nav-link {
  padding: 0.4rem 1rem;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.nav-item.nav-link {
  border: 2px solid #dcdcdc;
  border-bottom: 2px solid transparent;
  margin: 0 10px -2px 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border: 2px solid #079fc9;
  border-bottom: 2px solid transparent;
}

.table thead tr:first-child {
  background: #5b8fb4;
  color: #eee;
}
.table tbody tr:nth-child(odd) {
  background: #e5f0f6;
}

.content-card {
  background: #ffffff;
  margin-bottom: 1.4em;
}
.content-card header, .content-card main, .content-card footer {
  padding: 10px 30px;
}
.content-card header {
  background-color: #bbdaee;
}
.content-card header .header-title {
  position: relative;
  display: inline-block;
  padding: 0 8px;
}
.content-card header .header-title::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  bottom: -10px;
  left: 0;
  border-bottom: 4px solid #3f8bc7;
}
.content-card main {
  background-color: white;
}

#body {
  background: #f6f6f6;
}

#container_body {
  width: 1200px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
}
#container_body .row {
  margin-right: 0;
  margin-left: 0;
}
#container_body #navigation {
  width: 290px;
  float: left;
  margin-right: 10px;
  box-shadow: 0 10px 10px #919191;
  margin-bottom: 40px;
}
#container_body #content_body {
  float: left;
  width: 900px;
  min-height: 800px;
  box-shadow: 0 10px 10px #919191;
  margin-bottom: 40px;
  background: #f6f6f6;
}

.btn-outline {
  color: #3f8bc7;
  border-radius: 4px;
  border: 2px solid #3f8bc7;
}
.btn-outline:hover {
  background-color: #e5f0f6;
  color: #3f8bc7;
}

.btn-default {
  background: #56a3d7;
  color: #eee;
  border-radius: 4px;
}
.btn-default:hover {
  background: inherit;
  color: #56a3d7;
  border-color: #56a3d7;
}

.btn-group {
  margin: 26px 0;
  line-height: 46px;
}
.btn-group.right .btn {
  margin-left: -2px;
}

.barcon {
  margin: 0 auto;
  text-align: center;
}
.barcon .barcon2 {
  float: left;
}
.barcon .barcon2 > ul {
  margin: 20px 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.barcon .barcon2 > ul > li {
  display: inline;
  line-height: 46px;
  box-sizing: border-box;
}
.barcon .barcon2 > ul > li:first-child {
  width: 50px;
}
.barcon .barcon2 > ul > li:nth-child(2) {
  width: 68px;
}
.barcon .barcon2 > ul > li:nth-child(3) {
  width: 68px;
}
.barcon .barcon2 > ul > li:nth-child(4) {
  width: 50px;
}
.barcon .barcon2 > ul .jumpWhere {
  width: 50px;
  padding: 0 5px;
  border: 1px solid #3f8bc7;
  height: 32px;
}
.barcon .barcon2 a {
  margin: 0 3px;
  margin-top: -3px;
}

.barcon1 {
  font-weight: 600;
  color: #505050;
}

.ban {
  opacity: 0.4;
}

.text-page {
  color: #266997;
}

/*# sourceMappingURL=global.css.map */
