/*#aside {
	margin-top: 50px;
}*/

.icon {
	width: 16px;
	height: 16px;
	margin-bottom: 5px;
}

.list-group-item {
	color: black;
}

ul li a {
	text-decoration: none;
	color: #666;
}

a:hover {
	text-decoration: none;
	color: #00c3f5;
}

.list-group-item {
	border: 0;
}

.list-group-item ul li {
	margin: 4px;
}

a, a:hover {
	text-decoration: none;
	color: #666;
}

body {
	margin: 10px 30px;
	background-color: white;
}

nav {
	margin: 10px 30px;
}

.mainbody {
	margin-top: 40px;
	margin-left: 20px;
}

/*header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#aside {
	position: fixed;
	top: 230px;
	left: 50px;
	right: 0;
	background-color: #aaa;
}*/

.left-active a{
	color: red;
	font-weight: bold;
}

.breadcrumb .active {
	color: #00c3f5;
}

.breadcrumb {
	background-color: white;
}