.add-new {
	display: block;
	margin: 20px;
}

.operate {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

table {
	margin: 30px;
}

.new-scheduleName-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
