/* 选项卡美化css */
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    border: none;
    border-bottom: 2px solid #079fc9;
    margin: 0;
}
.tab .nav-tabs li a{
    padding: 10px 20px;
    margin: 0 10px -1px 0;
    font-size: 17px;
    font-weight: 600;
    color: #293241;
    text-transform: uppercase;
    border: 2px solid #e6e5e1;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    background: #fff;
    color: #079fc9;
    border: 2px solid #079fc9;
    border-bottom-color: transparent;
}
.tab .nav-tabs li a:before{
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{ transform: scaleX(1); }
.tab .tab-content{
    padding: 10px;
    font-size: 17px;
    color: #6f6f6f;
    line-height: 30px;
    letter-spacing: 1px;
    position: relative;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs{ border: none; }
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .nav-tabs li a{
        margin: 0;
        border-bottom: 2px solid transparent;
    }
    .tab .nav-tabs li a:before{
        content: "";
        width: 100%;
        height: 2px;
        background: #079fc9;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}
/* 选项卡美化css结束 */

.pull-right {
    margin-right: 30px;
}

table {
    margin-top: 30px;
}

th, td {
    text-align: center;
}

.table1 {
    margin-top: 20px;
    margin-bottom: 100px;
}

.group-divide {
    margin-top: 30px;
}

.student-select {
    margin-top: 40px;
}

.operate-n {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.distribute-table {
    width: 95%;
    margin: 0 20px;
    text-align: center;
}

#class-time-tracer{
    width: 95%;
    text-align: center;
}

/* #class-time-container td:hover{
    background-color: #eeeeee;
} */
#class-time-container .distributed {
    background-color: greenyellow;
}
#class-time-container .selected{
    background-color: rgb(136, 136, 221); 
}

#distribution-table td:hover{
	background-color: #eeeeee;
}

#divide_course_select_batch {
  border: solid 2px;
  padding: 10px;
}

.tips {
  color: green;
  font-size: 12px;
  margin-left: 50px;
}

.specialStudentList {
  margin-top: 100px;
}

.specialStudentList {
  margin-top: 50px;
}

.modal-body2 {
  margin: 50px 0 80px 0;
}

table {
  text-align: center;
}

a {
  text-decoration: none;
}

.fa-trash-o:hover {
  color: black;
}
