.fill-in {
	margin-left: 100px;
	margin-top: 60px;
}

.fill-check {
	margin-right: 100px;
	margin-top: 30px;
}

.card {
	margin-bottom: 50px;
}

.time-last {
	border: none;
	text-align: center;
}

/*.select-person {*/
	/*margin-left: 25px;*/
/*}*/

/*.float-right {*/
	/*margin-left: 100px;*/
/*}*/

.left-flatpickr {
	margin-left: 20px;
}

table {
	margin-top: 40px;
}

th, td {
	text-align: center;
}

.materal-out-number {
	margin: 10px;
}

.outNumber-card {
	margin-top: 20px;
}

.outNumber-card input {
	margin: 10px;
}

.outNumber-card select {
	margin: 0 10px;
}

.outNumber-card a {
	margin-top: 30px;
}

.record-search2 input {
	margin: 20px;
}

.fa-plus-square-o {
	cursor: pointer;
}

.clearfix{
	clear: both;
}
.right{
	float: right;
}
