.card {
	margin-bottom: 50px;
}

.teacher-list .form-control {
	margin: 20px; 
}

.teacher-list button {
	margin: 20px;
}

tr th,td {
	text-align: center;
}

.operaten {
	margin: 50px 30px;
}

.deleten {
	float: right;
	margin-right: 20px;
}

.btn-cyan {
	background-color: #00c3f5;
}

.card-row {
	margin: 2px;
}

.card-row h5 {
	display: inline-block;
}

.card-row button {
	float: right;
	margin-right: 20px;
}
