@import "../theme/colors";

$card-paddingx:30px;
$card-paddingy:10px;

.content-card{

    header,section,footer{
        padding: $card-paddingy $card-paddingx;
    }
    
    header{
        background-color: $blue1;
        .header-title{
            position: relative;
            display: inline-block;
            padding: 0 7px  10px 7px;
            top: $card-paddingy;
            border-bottom: 4px solid $blue2;
        }
    }

    section{
        background-color: white;
    }

    footer{
        background-color: $gray;
    }
}