.btn-outline{
    //border-color: $button-outline-color;
    color: $button-outline-color;
    border-radius: 4px;
    border:1px solid $button-outline-border;
    font-family: "Microsoft YaHei UI";
    &:hover{
        //border-color: transparent;
        //color: $text-white;
        background-color: $button-outline-hover;
        color: $button-outline-color;

    }
}

.btn-default{
    background: $button-default-back;
    color:$text-white;
    border-radius: 4px;
    font-family: "Microsoft YaHei UI";
    &:hover{
        background: inherit;
        color:$button-default-back;
        border-color: $button-default-back;
    }
}
.btn-group{
    margin: 26px 0;
    line-height: 46px;
    &.right{
        .btn{
            margin-left: -1px;
        }
    }
}
//选择框的按钮组
.btn-select{
    width: 80px;
    color: $button-outline-color;
}
.select-top.row div[class^="col-"]{
    padding-left: 0;
}
.select-top{
    >div[class^="col-"]{
        padding-right: 30px;
        &.last{
            padding-right: 0;
        }
        &.no-padding{
            padding-right: 0;
            padding-left: 0;
        }
    }
}
.select-top.title{
    margin-bottom: 2px;
    font-family: "Microsoft YaHei UI";
    color: $text-card-item;
}
.no-background{
    background-color: $text-white;
}
.row{
    margin-bottom: 10px;
}