#navigation{
    background: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    header,main{
        background: $nav-background;
    }
    
    header{
        line-height: 38px;
        box-sizing: border-box;
        text-align: center;
        padding: 4px;
        margin-bottom: 4px;
        span:not(:empty){
            &::before{
               content: ">"; 
            }
            &:first-child::before{
                content:"";
            }
        }
        #end{
            color: $text-nav-head;
            font-weight: bold;
        }
        #category,#part{
            color: $text-nav-head;
        }
    }

    main{
        padding: 10px 40px;
        .category{
            border-bottom: 1px solid $text-nav-head;
            &:last-child{
                border-bottom: none;
            }
        }
        ul{
            padding-left: 24px;
            color: $text-gray;
            list-style-type: none;
            li{
                color:$text-black;
                padding: 5px 0;
            }
            .icon{
                width: 1.4em;
                height: 1.4em;
            }
        }
        >ul{
            padding-left: 0;
        }
        .category-name{
            color: $text-gray;
        }
        a,a:visited{
            color: $text-black;
            text-decoration: none;   
        }
        a:hover{
            color: $blue1;
        }
        a.active,a:active{
            outline: none;
            color: $blue2;
        }
    }

    #nav-bottom{
        width: 100%;
    }
}