#navigation{
    background: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Microsoft YaHei UI";
    header,main{
        background: $nav-background;
    }
    
    header{
        background: url("../../img/nav-header.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size:100%;
        line-height: 38px;
        box-sizing: border-box;
        text-align: center;
        padding: 4px;
        margin-bottom: 4px;
        span:not(:empty){
            &::before{
               content: ">"; 
            }
            &:first-child::before{
                content:"";
            }
        }
        #end{
            color: $text-nav-head;
            font-weight: bold;
        }
        #category,#part{
            color: $text-nav-head;
        }
    }

    main{
        padding: 10px 40px;
        //height: 800px;
        min-height: 750px;
        background-image: url("../img/nav-top.jpg"),url("../img/nav-bottom.jpg");
        background-repeat: no-repeat;
        background-position: top,bottom;
        background-size:100%,100%;
        >ul{
            padding-left: 0;
            color: $text-gray;
            list-style-type: none;
            .category{
                border-bottom: 1px solid $text-nav-head;
                &:last-child{
                    border-bottom: none;
                }
            }
            >li{
                color:$text-black;
                padding: 5px 0;

                .category-name{
                    color: $text-nav-head;
                    font-size: 1.2rem;
                    //line-height: 24px;
                }
                ul{
                    padding: 0;
                    list-style: none;
                    li{
                        line-height: 30px;
                        padding-left: 24px;
                        margin-left: 24px;
                        margin-right: -32px;
                        a,a:visited{
                            font-size: 1rem;
                            color: $text-black;
                            text-decoration: none;
                        }
                    }
                    >li:hover{
                        background: $nav-background-active;
                    }
                }

            }
            .icon{
                width: 24px;
                height: 24px;
                margin-top: -4px;
            }
        }
    }

}