.barcon {
    margin: 0 auto;
    text-align: center;
    .barcon2{
        float: left;
        >ul{
            margin: 20px 0;
            padding-left: 0;
            list-style: none;
            text-align: center;
            >li{
                display: inline;
                line-height: 46px;
                box-sizing: border-box;
                &:first-child{
                    width: 50px;
                }
                &:nth-child(2){
                    width: 68px;
                }
                &:nth-child(3){
                    width: 68px;
                }
                &:nth-child(4){
                    width: 50px;
                }

            }
            .jumpWhere {
                width: 50px;
                padding: 0 5px;
                border: 1px solid $button-outline-color;
                height: 32px;
            }
        }
        a {
            margin: 0 3px;
            margin-top: -3px;
        }
    }
}

.barcon1{
    font-weight: 600;
    color: $text-pagination;
}

.ban{
    opacity: .4;
}
.text-page{
    color: $text-page;
}
