.nav{
    background: #ffffff;
    padding: 10px 24px;
    padding-bottom: 0;
    margin-bottom:0;
    list-style:none
}

.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
    background-color:#eee;
    border-color:#337ab7
}
.nav .nav-divider{
    height:2px;
    margin:9px 0;
    overflow:hidden;
    background-color:#e5e5e5
}

.nav-tabs{
    border-bottom: 2px solid $tab-active;
}
.nav-link{
    padding: 0.4rem 1rem;
}
.nav-tabs .nav-item{
    margin-bottom:-2px
}
.nav-item.nav-link{
    border: 2px solid #dcdcdc;
    color: $tab-text;
    border-bottom: 2px solid transparent;
    margin: 0 10px -2px 0;
    font-family: 黑体;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: $tab-active-text;
    border:2px solid $tab-active;
    border-bottom: 2px solid transparent;
}
