.table{
    thead{
        tr:first-child{
            background: $table-head;
            color: $text-white;
        }
    }
    tbody{
        tr:nth-child(odd){
            background: $table-odd;
        }
    }
    .table_id{
        width: 120px;
    }
    .table_time{
        width: 230px;
    }
    .table_people,.table_num,.table_status{
        width: 100px;
    }
    .table_material{
        width: 180px;
    }
    .table_note,.table_operate{
        width: 200px;
    }
}